---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.id.replace(/\.mdx?$/, '') },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <time datetime={post.data.pubDate.toISOString()}>
      {post.data.pubDate.toLocaleDateString('pl-PL')}
    </time>
    {post.data.description && <p>{post.data.description}</p>}
    {post.data.heroImage && <img src={post.data.heroImage} alt="" />}
    <Content />
    {post.data.gallery && post.data.gallery.length > 0 && (
      <div class="gallery">
        {post.data.gallery.map(item => (
          <img src={item.image} alt={item.alt ?? ''} />
        ))}
      </div>
    )}
  </article>
</Layout>
